.article {
	.subHeader{
		background: url('/assets/images/cikk.jpg') no-repeat center center;
		background-size: cover;
		width:100%;
		align-items: center;
		display:flex;
		aspect-ratio: 1924 / 683;
		&:before{
			content:'';
			position: absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			display:table;
			background: $dark;
			opacity: 0.54;
		}
        .gridCont{
			z-index: 100;
			position: relative;
            h1{
                text-align: center;
                @include simpleFont(70px,75px,700);
				margin-bottom: 0px;
            }
        }
    }
	article {
		margin:-100px auto 60px auto;
		width:90%;
		padding:60px;
		max-width:calc(1253px - 120px);
		text-align: left;
		position: relative;
		background: $dark;
		border-radius: 40px;
		> svg{
			position: absolute;
			right:0;
			top:-46px;
			z-index: 1;
		}
		.elite-gallery{
			display:grid;
			width:-webkit-fill-available;
			grid-template-columns: repeat(4,1fr);
			grid-gap:20px;
			a{
				position: relative;
				overflow: hidden;
				border-radius: 20px;
			}
		}
		h2{
			margin-bottom: 40px;
			@include textFont(40px,48px,700);
		}
		h3{
			margin-bottom: 40px;
			@include textFont(30px,38px,700);
		}
		> p {
			span{
				strong{
					font-size:inherit !important;
				}
			}
			> img {
				max-width: 100% !important;
				height: initial !important;
			}
		}
		.bordered{
			@include borderedButton($red,$red);
			span{
				color:#fff;
			}
		}
		.buttoned{
			display:grid;
			grid-template-columns: 1fr min-content;
			grid-column-gap: 32px;
			padding: 40px;
    		border-radius: 40px;
			background: $bg;
			overflow: hidden;
			&:before{
				content:'';
				display:table;
				position: absolute;
				width: 113px;
				height: 114px;
				left: -22px;
				bottom: -22px;
				background: #00ADB4;
				filter: blur(50px);
				flex: none;
				order: 0;
				flex-grow: 0;
				z-index: 0;
			}
			*{
				&:not(.bordered){
					grid-column: 1;
				}
			}
			> *{
				z-index: 100;
				position: relative;
			}
			.bordered{
				position: absolute;
				right: 50px;
				top: 50%;
				transform: translate(0, -50%);
				grid-column: 2;
			}
			> span{
				@include simpleFont(24px,32px,700);
			}
			> small{
				@include simpleFont(16px,28px,300);
			}
		}
		> p {
			position: relative;
			margin-bottom: 40px;
			@include textFont(18px,28px,300);
			color:#fff !important;
			> a{
				color:$red;
				font-weight: 700;
			}
		}

		ol {
			margin-bottom: 40px;
			counter-reset: list-counter;
			li {
				counter-increment: list-counter;
				@include textFont(17px,27px,700);
				&:before {
					content: counter(list-counter)'. ';
				}
			}
		}
		ul{
			margin-bottom: 40px;
			li{
				@include textFont(17px,27px,700);
				position: relative;
				padding-left:32px;
				&:before{
					content: "";
					left: 12px;
					top: 10px;
					background: #fff;
					width: 4px;
					height: 4px;
					border-radius: 4px;
					display: table;
					position: absolute;
				}
			}
		}
		blockquote{
			padding:0px 80px;
			display:grid;
			width:100%;
			max-width:837px;
			grid-template-columns: 140px 1fr;
			grid-column-gap: 16px;
			align-items: center;
			margin:0px auto 40px auto;
			&:before{
				content:',,';
				color:#fff;
				font-size:145px;
				margin:0 auto 0 0;
				height: fit-content;
				align-self: center;
				line-height: 0px;
				grid-row: 1;
				grid-column: 1;
				z-index: 1;
				position: relative;
			}
			&:after{
				width: 124px;
				height: 125px;
				background: #FFE72F;
				filter: blur(50px);
				flex: none;
				order: 0;
				flex-grow: 0;
				content:'';
				display:table;
				grid-column: 1;
				grid-row: 1;
			}
			p{
				grid-column: 2;
				grid-row: 1;
				@include textFont(24px,32px,700);
			}
		}
	}
}

.articleOffer{
	background: transparent !important;
	padding-top:0px !important;
}